.nav {
  width: 100%;
  display: grid;
  padding: 1.8rem;
  padding-top: 2.4rem;
  padding-right: 2rem;
  padding-left: 2.9rem;
  grid-template-columns: repeat(3, 1fr);

  justify-content: space-between;
  align-items: end;
  z-index: 2;
  position: static;
}
.mid {
  display: flex;
  gap: 2rem;
  justify-self: center;
  position: static;
}
.mid * {
  font-size: 1rem;
  text-decoration: none;
  color: #dcdcdc;
  z-index: 2;
  position: static;

  transition-duration: 0.1s;
}
.mid *:hover {
  transform: scale(1.05);
}
.mid *:active {
  transform: scale(1.03);
}
.login {
  justify-self: right;
  font-size: 1rem;
  text-decoration: none;
  color: #dcdcdc;
  z-index: 1;
}
.mid :global(.active) {
  color: white;
}
