.city {
  background-color: #111014;
  border: #2a2b31 1px solid;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 3px;
}
.cityName {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}
.date {
  font-size: 0.8rem;
  font-weight: 300;
}
.delWrapper {
  width: 4rem;
  height: 4rem;
  display: grid;
  align-items: center;
  justify-items: center;
}
.delButton {
  width: 1.8rem;
  height: 1.8rem;

  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #2d2d2d;
  border-radius: 100%;
  border: none;
  transition-duration: 0.1s;
}
.delButton:hover {
  background-color: #3b3b3b;
}
