.wrapper {
  position: absolute;
  bottom: 0;
  padding-left: 3rem;
  padding-right: 2rem;
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}
.button {
  display: flex;
  align-items: center;
  justify-content: end;

  height: 3rem;
  width: 12rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 88rem;
  border: none;
}
.bubble {
  background-color: black;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 88rem;

  display: grid;
  align-items: center;
  justify-content: center;
}
.text {
  flex-grow: 1;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}
.message {
  color: #a8a8a8;
  font-weight: 300;
  width: 50%;
}
.exploreMore {
  margin-left: auto;
  color: #fff;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
