.wrapper {
  position: absolute;
  bottom: 0;
  padding-left: 3rem;
  padding-right: 2rem;
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}
.button {
  display: flex;
  align-items: center;
  justify-content: end;

  height: 3rem;
  width: 12rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 88rem;
  border: none;
  transition-duration: 0.1s;
}

.bubble {
  background-color: black;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 88rem;

  display: grid;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}
.button:hover .bubble {
  transform: scale(1.8) translateX(-6px);
}
.bubble * {
  transition-duration: 0.2s;
}
.button:hover .bubble * {
  transform: scale(1.05);
}
.text {
  flex-grow: 1;
  color: #000;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  transition-duration: 0.3s;
}
.button:hover .text {
  transform: translateX(-4px);
}
.message {
  color: #a8a8a8;
  font-weight: 300;
  width: 50%;
}
.exploreMore {
  margin-left: auto;
  color: #fff;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  transition-duration: 0.1s;
}
.exploreMore:hover {
  text-decoration: underline;
}
.exploreMore :global(svg) {
  transition-duration: 0.1s;
}
