.footer {
  position: fixed;
  color: #ffffff;
  bottom: 1rem;
  right: 1rem;

  width: fit-content;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}
